<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= text.search %></title>
</head>
<body>
  <h1><%= text.search %>: "<%= query %>"</h1>
  <ul>
    <% articles.forEach(article => { %>
      <li>
        <a href="/news/<%= article.id %>?lang=<%= lang %>"><%= article.title %></a>
         - <%= article.date %> [<%= article.category %>]
      </li>
    <% }) %>
  </ul>
  <hr>
  <a href="/?lang=<%= lang %>">← <%= text.article_list %></a>
</body>
</html>